<!DOCTYPE html>
<html>
  <head>
    <meta content=`text/html`; charset=`UTF-8` http-equiv=`Content-Type` />
  </head>
  <body>
    <h1>Welcome to Turnout, <%= @user.first_name %></h1>
    <p>
    It's time to either join a group or create your own, <%= @user.first_name %>! To login to the site, just follow this link: <%= @url %>.<br>
    </p>
    <p>Thanks and have a good one!</p>
    <p> Marc H.</p>
  </body>
</html>